In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/weather_data/65 Years of Weather Data Bangladesh (1948 - 2013).csv')

In [ ]:
df.head()

   Unnamed: 0 Station Names  YEAR  Max Temp  ...  LONGITUDE  ALT   Period  Month
0           0       Barisal  1949      29.4  ...      90.36    4  1949.01      1
1           1       Barisal  1950      30.0  ...      90.36    4  1950.01      1
2           2       Barisal  1951      28.2  ...      90.36    4  1951.01      1
3           3       Barisal  1952      26.6  ...      90.36    4  1952.01      1
4           4       Barisal  1953      30.0  ...      90.36    4  1953.01      1

[5 rows x 18 columns]

In [ ]:
df.describe()

         Unnamed: 0          YEAR  ...        Period         Month
count  21120.000000  21120.000000  ...  21120.000000  21120.000000
mean   10559.500000   1985.773295  ...   1985.838295      6.500000
std     6096.963179     17.604499  ...     17.604533      3.452134
min        0.000000   1948.000000  ...   1948.010000      1.000000
25%     5279.750000   1972.000000  ...   1972.110000      3.750000
50%    10559.500000   1988.000000  ...   1988.020000      6.500000
75%    15839.250000   2001.000000  ...   2001.030000      9.250000
max    21119.000000   2013.000000  ...   2013.120000     12.000000

[8 rows x 17 columns]

In [ ]:
numeric_cols = [cname for cname in df.columns if df[cname].dtype in ['int64', 'float64']]
X = df[numeric_cols].copy()
y = df.Month

In [ ]:
print("Shape of input data: {} and shape of target variable: {}".format(X.shape, y.shape))

X.head() # Show first 5 training examples

Shape of input data: (21120, 17) and shape of target variable: (21120,)

   Unnamed: 0  YEAR  Month  Max Temp  ...  LATITUDE  LONGITUDE  ALT   Period
0           0  1949      1      29.4  ...      22.7      90.36    4  1949.01
1           1  1950      1      30.0  ...      22.7      90.36    4  1950.01
2           2  1951      1      28.2  ...      22.7      90.36    4  1951.01
3           3  1952      1      26.6  ...      22.7      90.36    4  1952.01
4           4  1953      1      30.0  ...      22.7      90.36    4  1953.01

[5 rows x 17 columns]

In [ ]:
# splitting the data into 10 folds.  
# We will use this 'kf'(KFold splitting stratergy) object as input to cross_val_score() method
kf =KFold(n_splits=10, shuffle=True, random_state=42)

cnt = 1
# split()  method generate indices to split data into training and test set.
for train_index, test_index in kf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
    cnt += 1

Fold:1, Train set: 19008, Test set:2112
Fold:2, Train set: 19008, Test set:2112
Fold:3, Train set: 19008, Test set:2112
Fold:4, Train set: 19008, Test set:2112
Fold:5, Train set: 19008, Test set:2112
Fold:6, Train set: 19008, Test set:2112
Fold:7, Train set: 19008, Test set:2112
Fold:8, Train set: 19008, Test set:2112
Fold:9, Train set: 19008, Test set:2112
Fold:10, Train set: 19008, Test set:2112

In [ ]:
df['Station Names'] = pd.to_numeric(df['Station Names'],errors='coerce')

df.drop(['Station Names'], axis = 1)

       Unnamed: 0  YEAR  Max Temp  Min Temp  ...  LONGITUDE  ALT   Period  Month
0               0  1949      29.4      12.3  ...      90.36    4  1949.01      1
1               1  1950      30.0      14.1  ...      90.36    4  1950.01      1
2               2  1951      28.2      12.3  ...      90.36    4  1951.01      1
3               3  1952      26.6      12.3  ...      90.36    4  1952.01      1
4               4  1953      30.0      13.3  ...      90.36    4  1953.01      1
...           ...   ...       ...       ...  ...        ...  ...      ...    ...
21115       21115  2009      30.3      16.5  ...      92.26    4  2009.12     12
21116       21116  2010      31.7      16.7  ...      92.26    4  2010.12     12
21117       21117  2011      31.5      16.4  ...      92.26    4  2011.12     12
21118       21118  2012      30.0      15.8  ...      92.26    4  2012.12     12
21119       21119  2013      29.9      16.5  ...      92.26    4  2013.12     12

[21120 rows x 17 columns]

In [ ]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
df.head()

   Unnamed: 0  YEAR  Max Temp  Min Temp  ...  LONGITUDE  ALT   Period  Month
0           0  1949      29.4      12.3  ...      90.36    4  1949.01      1
1           1  1950      30.0      14.1  ...      90.36    4  1950.01      1
2           2  1951      28.2      12.3  ...      90.36    4  1951.01      1
3           3  1952      26.6      12.3  ...      90.36    4  1952.01      1
4           4  1953      30.0      13.3  ...      90.36    4  1953.01      1

[5 rows x 17 columns]

In [ ]:
X = df.iloc[1:, 1:16].values
y = df.iloc[1:, 16].values

In [ ]:
#label_encoding
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
binary_encoded_y = pd.Series(encoder.fit_transform(y))

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
seed = 7
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = seed)

In [ ]:
# fit model training data for xgboost classifier
from sklearn.metrics import confusion_matrix
model = XGBClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
confusion_matrix(y_test, predictions)
y_pred = model.predict(X_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 76.80%

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(n_estimators = 50)
model1.fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn import preprocessing, metrics
print("Accuracy of the test set:",metrics.accuracy_score(y_test,y_pred))

Accuracy of the test set: 0.7679924242424242